node_modules/
npm-debug.log*


.env
.env.*


logs/
*.log


dist/
build/


.DS_Store # macOS specific
Thumbs.db # Windows specific
.vscode/ # Pasta de configuração do VS Code (opcional, mas geralmente bom ignorar configs locais)
.idea/   # Pasta de configuração do WebStorm/IntelliJ (se usar)


*.sqlite
*.sqlite3
database.sqlite 
